<!DOCTYPE html>
<html lang="en">
<head>
  <title>A To-Do List</title>
  <link type="text/css" rel="stylesheet" href="style.css"/>
  <style>
  body {
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    max-width: 800px;
    margin: 32px auto;
  }

  code {
    display: inline-block;
    font-size: inherit;
    font-family: Menlo, Consolas, monaco, monospace;
    border: 1px solid #777;
    border-radius: 3px;
    padding: 0 5px;
  }
  </style>
</head>
<body>

  <div id="pagetitle"> This is what I have left to do. </div>

  <%= yield %>
</body>
</html>
