<form action='/create' method='POST'>
  <strong>New Task:</strong>
  <input type='text' name='task' placeholder='task' />
  <input type='text' name='date' placeholder='date' />
  <input type='submit' value='Save' />
</form>

<% @tasks.each do |task| %>
<form action='/delete' method='POST'>
  <input type='hidden' name='id' value='<%= task.id %>'/>
  <input type='submit' value='Delete' />
</form>
<p><%= task.task %> is due on <%= task.date %></p>
<% end %>
