<form action='/' method='POST'>
  <strong>New User:</strong>
  <input type='text' name='name' placeholder='name' />
  <input type='submit' value='Save' />
</form>

<% @users.each do |user| %>
  <p> <a href="/<%= user.id %>"><%= user.name %></a>'s to-do list</p>
<% end %>
